<h2>Products2</h2>
<div id="products-catalog" class="panel panel-default">
<div class="panel-heading"> Catálogo De Productos2 </div>
	<table class="table">
		<th>ID</th>
		<th>Nombre</th>
		<th>Precio</th>
		<th>Action</th>
		<% @products.each do |p| %>
		<tr>
		<td><%=	p.id	%>	</td>
		<td><%=	p.name	%>	</td>
		<td><%= p.price %>	</td>
		<td>f<%= cookies[:campo]%></td>

		</tr>
		<% end %>
	</table>
</div>